
.card{
    border: 1px solid white;
    width:50%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 6px;
    top: -230px;
    left: 230px;
}
.card h1,
.card p{
    padding-left: 4%;
    padding-right: 1%;
}
.card1{
    border: 1px solid white;
    width:50%;
    background-color: #FFFFFF;
    border-radius:6px;
    position: relative;
    top: -50px;
    left: 30%;
}
.covenor img{
    float:right;
}
.card1 h1,
.card1 p{
    padding-left: 4%;
    padding-right: 1%;
}
