.details{
    padding-left: 9%;
    margin-left: 5%;
    float: right;
    margin-bottom: 2vh;
}
.details .finalists h3{
    text-align: center;
}
.img-box{
    position: absolute;
    top: 25px;
    right:-8px;
}
.name{
    color:white;
}

#finalist{
    background-color: black;
}
.align{
    margin-top: 130px;
    margin-left: 3%;
}
.align .img-box{
    top: 160px;
}

.align2{
    margin-top: 80px;
    margin-left: 3%;
}
.align2 .img-box{
    top: 110px;
}
.align3{
    margin-top: 40px;
    margin-left: 3%;
}
.align3 .img-box{
    top: 70px;
}
.align4{
    margin-top:30px;
    margin-left: 3%;
}
.align4 .img-box{
    top: 60px;
}
.align5{
    margin-top:-50px;
    margin-left: 3%;
}
.align5 .img-box{
    top:-20px;
}
.align6{
    margin-top: -50px;
    margin-left: 3%;
}
.align6 .img-box{
    top:-20px;
}
.finalists img{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.finalists .img-box{
    border-radius:50%;
}