@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@font-face {
    font-family: A-cuchillada-font-ffp;
    src: url("../assets/fonts/A-cuchillada-font-ffp.ttf");
}
@font-face {
    font-family: Snowboarding;
    src: url("../assets/fonts/Snowboarding.ttf");
}
@font-face {
    font-family: BrushHandNew;
    src: url("../assets/fonts/BrushHandNew.ttf");
}
@font-face {
    font-family: DK Momotaro;
    src: url("../assets/fonts/DK Momotaro.ttf");
}

/* body{
    font-family: 'Quicksand', sans-serif;
} */
h1{
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-family: 'Quicksand', sans-serif;
}
h4{
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
}
.heading1{
  color:#19f6e8;
}
.landing {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000000;
}

.title {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.title h3 {
    font-weight: 200;
    font-size: 20px;
    padding: 0;
    margin-top:20%;
    line-height: 1;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.title h1 {
    position: relative;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #19f6e8;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em white;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

.title h1 span {
    position: absolute;
    /*left: 0;*/
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.title h1::before,
.title h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    /*left: 0;*/
}

.title h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.title h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

/*VOTE BUTTON */

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
}

.text {
    color: #fff;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 32px;
    position: relative;
    top: -48px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

/*SCROLL BUTTON*/

.ico {
    margin: 0 auto;
    text-align: center;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 20%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-filter: url("#goo");
    filter: url("#goo");
}
.ico .circle {
    background: #19f6e8;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
}
.ico .circle.circle-top {
    height: 33.3333333333px;
    width: 41.6666666667px;
    -webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    z-index: 0;
    top: 0;
}
.ico .circle.circle-bottom {
    height: 33.3333333333px;
    width: 41.6666666667px;
    -webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    z-index: 9;

}
.ico .st-arrow {
    fill: black;
    -webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
    animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.svg {
    z-index: 9;
    position: relative;
}

@-webkit-keyframes blob-1-anim {
    0% {
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
    14% {
        -webkit-transform: translateX(-50%) translateY(-8px);
        transform: translateX(-50%) translateY(-8px);
    }
    24% {
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes blob-1-anim {
    0% {
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
    14% {
        -webkit-transform: translateX(-50%) translateY(-8px);
        transform: translateX(-50%) translateY(-8px);
    }
    24% {
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
}
@-webkit-keyframes blob-2-anim {
    0% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
    30% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
    70% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
    95% {
        -webkit-transform: scale(1) translate(-50%, 26px);
        transform: scale(1) translate(-50%, 26px);
    }
    100% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
}
@keyframes blob-2-anim {
    0% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
    30% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
    70% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
    95% {
        -webkit-transform: scale(1) translate(-50%, 26px);
        transform: scale(1) translate(-50%, 26px);
    }
    100% {
        -webkit-transform: scale(1) translate(-50%, 10px);
        transform: scale(1) translate(-50%, 10px);
    }
}
@-webkit-keyframes scrolly {
    0% {
        -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
        transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
    }
    30% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    70% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    95% {
        -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
    100% {
        -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
}
@keyframes scrolly {
    0% {
        -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
        transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
    }
    30% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    70% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    95% {
        -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
    100% {
        -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
}

/*NAV BAR*/
.navbar-nav li{
    font-size: 20px;
}
.navbar-nav li a{
    color:#19f6e8;
}
.navbar-brand {
    color: #19f6e8;
    /*font-size: 30px;*/
    font-family: "DK Momotaro", sans-serif;
    font-weight: 300;
    left:-20px;

}
.navbar-nav li a:hover{
    border-bottom: 1px solid white !important;
}

.navbar{
    background: transparent !important;
}

.navbar-inverse{
    border:none !important;
    font-weight: 550 !important;
}
/* jQuery Styles
===================================*/
.navbar-scroll {
    padding: 0;
    /*background: #0a0f0f !important;*/
    background: rgba(0,0,0,.9) !important;  /* fallback for old browsers */
    transition-duration: 2s;
    transition: 2s ease-in-out;
}
@media (max-width: 367px){
    .navbar-scroll{
        margin-left:auto;
        margin-right:auto;
    }
    .navbar-brand{
        margin-left:0;
    }
}
@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
    background-size: auto;
}

.twinkling{
    width:1000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repea t;
    background-size: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;

}

.clouds{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}
