.heading img{
  border-radius: 50%;
  height:40px;
  width:40px;
}
.heading,
.heading a{
color:#19f6e8;
}
.box{
  position: relative;
  perspective: 1000px;
  margin-bottom: 5vh;
}
.box .box-img{
  transform:rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-img{
  transform: rotateY(-90deg);
}
.box .box-content{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color:#fff;
  background: rgba(0,0,0,0.7);
  top:0;
  left:0;
  padding: 50px 10px;
  border:1px solid  #000000;
  box-sizing: border-box;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-content{
  transform: rotateY(0);
}
hr{
  margin-left: 40px;
  margin-right:40px;
  color: #19f6e8;
}
.box li{
  outline:none;
  display: inline-block;
  font-size:24px;
  letter-spacing: 10px;
  color:#19f6e8;
}
.box li:hover{
  transform: scale(1.5);
  transition: 1s ease-in-out;
}
.box li a{
  color: #19f6e8;
}
